body {
    background-image: linear-gradient(rgba(181, 255, 155, 0.485), rgba(255, 255, 255, 0.5)), url(../assets/upscale.jpeg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* Hide spinners in Chrome, Safari, and Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.header {
    display: flex;
    justify-content: center;
    font-family: SUSE, Poppins;
    font-size: 28px;
}

.header h1 {
    font-weight: 700;
}

.register {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.register h1 {
    font-family: SUSE, Poppins;
    font-weight: 500;
    font-size: 40px;
}

.register .content {
    background-color: rgba(73, 130, 210, 0.17);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.register p {
    font-size: 18px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#bottom {
    justify-content: center;
    font-family: SUSE, sans-serif;
    font-size: 18px;
}